@using MvcStok.Models.Entity
@model List<Tbl_Musteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
{
    <p>
        <b>Müşteri adı ara:</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-striped" border="1">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        @*<th>SİL</th>*@
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <th>@mus.MUSTERIID</th>
                <td>@mus.MUSTERIAD</td>
                <td>@mus.MUSTERISOYAD</td>
                @*<td><a href="/Musteri/Sil/@mus.MUSTERIID" class="btn btn-danger">Sil</a></td>*@
                <td>@Html.ActionLink("Sil", "Sil", new { id = mus.MUSTERIID }, new { @class = "btn btn-danger", onclick = "return confirm('Müşteriyi silmeyi onaylıyor musunuz?')" })</td>
                <td><a href="/Musteri/MusteriGetir/@mus.MUSTERIID" class="btn btn-success">Güncelle</a></td>

            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>

